{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {jsx, "3.1.0"}
]}.

{shell, [
    {config, "../config/sys.config"},
    {apps, [hyperbeam_local]}
]}.

{relx, [
    {release, {hyperbeam_local, "0.1.0"}, 
        [hyperbeam_local, sasl]},
    {mode, dev},
    {include_erts, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{mode, prod}]}
    ]},
    {test, [
        {deps, [
            {proper, "1.4.0"}
        ]},
        {erl_opts, [debug_info]}
    ]}
]}.

{ct_opts, [
    {sys_config, "config/test.config"}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

