[
  {hyperbeam_local, [
    {http_port, 8080},
    {websocket_port, 8081},
    {max_message_history, 1000}
  ]},
  {kernel, [
    {logger_level, info},
    {logger, [
      {handler, default, logger_std_h,
       #{config => #{type => standard_io},
         formatter => {logger_formatter,
                      #{single_line => true,
                        time_offset => "Z"}}}}
    ]}
  ]}
].
